* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /*user-selcect cho phep nguoi dung boi den van ban
    co cac che do nhu text,all va none*/
}

/* lam trang web hien thi giong trang A4 */
body {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    background-color:rgba(244, 246, 246, 0.915);
}

.header {
    background:linear-gradient(to bottom right,rgb(4, 4, 143), rgb(45, 139, 233));
    position: relative;
    padding: 20px;
    line-height: 220%;
    color:aliceblue;
    border-radius: 6px;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: row; /* mac dich la row*/
    gap: 50px; /* khoang cách giữa các cột*/
    padding: 30px;
    justify-content: center; /* can khoang cach noi dung */
    white-space: nowrap; /* ko cho phep xuong dong khi tu qua dai*/
    /* overflow-x: auto;  co thanh keo qua trai phai*/
}

.card {
    max-width: 800px;
    justify-content:center; 
    background-color:rgba(255, 255, 255, 0.915);
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 12px 15px;
    line-height: 200%;
}

.card strong {
    font-size: 140%;
}

.content-card1 {
    color: rgb(46, 234, 46);
}

.content-card2 {
    color: red;
}

.content-card3 {
    color: rgb(13, 156, 234)
}

.add {
    background-color: rgba(255, 255, 255, 0.915);
    padding: 20px;
    border-radius:12px;
    border: 1px solid #ccc;
}

.add table {
    padding-top: 12px;
    font-size: 110%;
}

.add table th,td {
    padding: 5px 15px; /* [tren/duoi] [trai/phai] */
    border-radius: 12px;
}

.add table input, table select {
    border-radius: 12px;
    padding: 7px;
    border: 1px solid;
}

.add table button {
    border-radius: 12px;
    border: 1px solid;
    padding: 10px;
    background-color:rgb(13, 124, 234);
    color: white
}

.history {
    margin: 36px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.915);
    border: 1px solid #ccc;
    border-radius: 12px;
}

.history table {
    width: 100%;
    margin: 30px auto;
}

.history th {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
    padding: 12px;
}
